{% spaceless %}
	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-i360-column-double" %}


	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# overwriting {% block %}'s defined in the chosen Base Block Layout Type above  #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}
	<div class="{{ component_class }}">

		<div class="{{ component_class }}__container l-container">
			<div class="{{ component_class }}__container-inner wow">

				{% for item in section.repeater %}
					<div class="{{ component_class }}__column {{ component_class }}__column--{{ loop.index }}">

						{% include '01-atoms/content/title/title.twig' with {
							parent_class        : component_class,
							title               : item.title,
							h                   : 4,
							add_class_on_anim   : false
						} only %}

						{% include '01-atoms/content/content/content.twig' with {
							parent_class        : component_class,
							content             : item.content,
							add_class_on_anim   : false
						} only %}

						{% if item.add_link %}
							{% include '01-atoms/links/link/link.twig' with {
								parent_class    	: component_class,
								link                : item.link,
								add_class_on_anim 	: false
							} only %}
						{% endif %}

					</div>
				{% endfor %}

			</div>
		</div>
	</div>
{% endspaceless %}
