{% spaceless %}
	{#######################################################}
	{# --------------------------------------------------- #}
	{# Extending one of the Base Block Layout Types        #}
	{# 													   #}
	{# The block wrapper, title, content, button		   #}
	{# and container are declared inside the 		       #}
	{# base block layout          						   #}
	{# --------------------------------------------------- #}
	{#######################################################}
	{% extends '03-organisms/base/base-block/base-block.twig' %}


	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-i360-statistics-horizontal" %}
	{% set container       = false %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# overwriting {% block %}'s defined in the chosen Base Block Layout Type above  #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}
	{% block after_content %}

		<div class="{{ component_class }}__repeater">
			{% for item in section.repeater %}
				{% set color_type = item.color ? component_class ~ '__item--color-' ~item.color %}

				<div class="{{ component_class }}__item {{ color_type }} wow">
					{% if item.link %}
						<a class="{{ component_class }}_link" href="{{ item.link }}"></a>
					{% endif %}

					{% include '01-atoms/content/title/title.twig' with {
						parent_class        : component_class,
						title               : item.title,
						h                   : 4,
						add_class_on_anim   : false
					} only %}

					{% include '01-atoms/content/subtitle/subtitle.twig' with {
						parent_class        : component_class,
						subtitle            : item.subtitle,
						add_class_on_anim   : true
					} only %}
				</div>
			{% endfor %}
		</div>

    {% endblock %}

{% endspaceless %}
