{% spaceless %}
	{#
	* Renders the slide-out component
	*
	* @param  {string}  component_class      The CSS class of this component
	* @param  {string}  version              Optional version. Uses a BEM modifier
	* @param  {string}  parent_class     	 CSS class of the parent component
	* @param  {boolean} add_class_on_anim    Adds a CSS class when user scrolls to this component. Used for animations
	* @param  {object}  item                 content object. Has at least a title and content
	* @param  {string}  extra_class          optional extra CSS class
	#}

    {% set component_class = "m-slide-out" %}
	{% set version         = version      ? component_class ~ "--" ~ version | join("") : component_class ~ "--default" %}
	{% set parent          = parent_class ? parent_class    ~ "__" ~ component_class|replace({"m-" : ""}) | join("") %}

    <div
		data-module="defaultSlideOut"
		class="{{ component_class }} js-{{ component_class|replace({"m-" : ""}) }} {{ version }} {{ parent }} {{ extra_class }}"
		id="slide-out"
    >
        <div class="{{component_class}}__container l-container">
            {% set parent_class = component_class %}

            {% import '02-molecules/nav/nav-macro/nav-macro.twig' as nav %}
            {{ nav.menu(menu_mobile.get_items, 'm-nav', 'm-nav--mobile', parent_class, true) }}
        </div>
    </div>
{% endspaceless %}
