{% spaceless %}
	{#
	* Renders the button repeater component
	*
	* @param  {string}  component_class      The CSS class of this component
	* @param  {string}  version              Optional version. Uses a BEM modifier
	* @param  {string}  parent_class     	 CSS class of the parent component
	* @param  {boolean} add_class_on_anim    Adds a CSS class when user scrolls to this component. Used for animations
	* @param  {object}  button               Contains the button label, button link and button external link
	* @param  {string}  extra_class_wrapper  optional extra CSS class assigned to the wrapper
	#}

    {% set component_class = "a-button-wrapper" %}
	{% set add_class_on_anim = add_class_on_anim ? "wow" | join("") %}

    <div class="{{ parent_class }}__repeater-wrapper {{ parent_class }}__button-wrapper {{ extra_class_wrapper }} {{ component_class }} {{ add_class_on_anim }}">
        {% for button in buttons %}
            {% include '01-atoms/buttons/button/button.twig' with {
                parent_class : component_class,
                button       : button,
                button_order : loop.index
            } only %}
        {% endfor %}
    </div>
{% endspaceless %}
