{% spaceless %}
	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-i360-article-single" %}

	{########################################################}
	{# Block specific settings                              #}
	{########################################################}
	{% set options_single_blog_elements = options.single_blog_elements %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# overwriting {% block %}'s defined in the chosen Base Block Layout Type above  #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}
	<div class="{{ component_class }}">
		{# Accessing WordPress image object and making them available to Twig templates #}
		{% set image = TimberImage( post.thumbnail ) %}

		{% include '01-atoms/images/image-default/image-default.twig' with {
			parent_class      : component_class,
			img               : image,
			modifier          : "single-article",
			lazyload          : true,
			srcset            : true,
			wrapper           : true,
			parallax          : false,
			add_class_on_anim : true
		} only %}

		<div class="l-container {{ component_class }}__container">
			<div class="{{ component_class }}__inner">

				{% include '01-atoms/content/pretitle/pretitle.twig' with {
					parent_class        : component_class,
					pretitle            : pretitle,
					add_class_on_anim   : true
				} only %}

				{% include '01-atoms/content/title/title.twig' with {
					parent_class : component_class,
					version      : "center",
					h            : 1,
					title        : post.title
				} only %}

				<div class="{{ component_class }}__info-wrapper">
					{% if post.post_date %}
						<div class="{{ component_class }}__date">
							{{ post.post_date | date('M j, Y') }}
						</div>
					{% endif %}

					{% include '02-molecules/social/social-share/social-share.twig' with {
						parent_class : component_class,
						version      : "default"
					} only %}
				</div>

				<div class="{{component_class}}__main-content-wrapper">
					{% if post.content %}
						{% include '01-atoms/content/content/content.twig' with {
							content      : post.content,
							parent_class : component_class
						} only %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endspaceless %}
