{% spaceless %}
	{#
	* Renders the dropdown component
	*
	* @param  {string}  component_class      The CSS class of this component
	* @param  {string}  version              Optional version. Uses a BEM modifier
	* @param  {string}  parent_class     	 CSS class of the parent component
	* @param  {boolean} add_class_on_anim    Adds a CSS class when user scrolls to this component. Used for animations
	* @param  {string}  extra_class          optional extra CSS class
	#}

	{% set component_class 		= "m-dropdown" %}
	{% set version         		= version 			 ? component_class ~ "--" ~ version | join(" ") : component_class ~ "--default" %}
	{% set parent           	= parent_class 		 ? parent_class    ~ "__" ~ component_class|replace({"m-" : ""}) | join(" ") %}
	{% set add_class_on_anim 	= add_class_on_anim  ? "wow" | join(" ") %}

	<div class="{{ component_class }} {{ parent }} {{ version }} {{ add_class_on_anim }} {{ extra_class }}" data-module="dropdown">
		<a href="#" class="{{component_class}}__inner js-dropdown">
			<span class="{{component_class}}__inner-txt">
				{{ item.title }}
			</span>

			<span class="{{ component_class }}__arrow"></span>
		</a>

		<ul class="{{ component_class }}__list">
			{% for item in item.items %}
				<li class="{{ component_class }}__item">
					<a href="{{ item.url ? item.url : "#" }}" class="{{ component_class }}__link ">
						{{ item.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endspaceless %}
