<div class="{{ component_class }}__top-content-wrapper" style="background-color: {{ top_bar_group.bg_color ? top_bar_group.bg_color : 'transparent' }}">
	<div class="l-container o-header__container">
		<ul class="{{ component_class }}__top-content-list">
			<li class="{{ component_class }}__top-content-list-item">
				<a class="{{ component_class }}__top-content-list-item-link" href="#">
					Request Demo
				</a>
			</li>

			<li class="{{ component_class }}__top-content-list-item">
				<a class="{{ component_class }}__top-content-list-item-link" href="#">
					Contact
				</a>
			</li>
		</ul>

		<div class="{{ component_class }}__search-button js-header-search-toggle">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22">
				<g>
					<g>
						<path
							d="M8.126 14.28c-2.762 0-5-2.346-5-5.25 0-2.9 2.234-5.25 5-5.25 2.762 0 5 2.347 5 5.25 0 2.9-2.235 5.25-5 5.25zm11.602 4.376l-3.895-4.089a.915.915 0 0 0-.664-.287h-.637a8.761 8.761 0 0 0 1.72-5.25c0-4.712-3.638-8.53-8.126-8.53C3.637.5 0 4.318 0 9.03c0 4.713 3.637 8.53 8.126 8.53a7.845 7.845 0 0 0 5-1.804v.669c0 .262.098.512.273.697l3.895 4.089a.903.903 0 0 0 1.325 0l1.105-1.16a1.024 1.024 0 0 0 .004-1.395z"></path>
					</g>
				</g>
			</svg>
		</div>
	</div>
</div>
