{% spaceless %}
	{#######################################################}
	{# --------------------------------------------------- #}
	{# Extending one of the Base Block Layout Types        #}
	{# 													   #}
	{# The block wrapper, title, content, button		   #}
	{# and container are declared inside the 		       #}
	{# base block layout          						   #}
	{# --------------------------------------------------- #}
	{#######################################################}
	{% extends '03-organisms/base/base-block/base-block.twig' %}


	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-i360-repeatable-rows" %}
	{% set container       = true %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# overwriting {% block %}'s defined in the chosen Base Block Layout Type above  #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}
	{% block after_content %}

		{# Rows are outputted here #}
		<div class="{{ component_class }}__repeater">
			{% for item in section.repeater %}
				<div class="{{ component_class }}__item {{ component_class }}__item--{{ loop.index }} wow flex flex-col md:flex-row">
					<div class='{{component_class}}__column {{component_class}}__column--1 w-full md:w-1/2'>

						{% set img = TimberImage(item.image) %}

						{% include '01-atoms/images/image-default/image-default.twig' with {
							parent_class        : component_class,
							img                 : img,
							lazyload            : true,
							extra_class         : "o-i360-repeatable-rows__item-img",
							srcset              : true,
							wrapper             : true
						} only %}

					</div>
					<div class='{{component_class}}__column {{component_class}}__column--2 w-full md:w-1/2 md:pl-2 flex justify-center flex-col'>
						{% include '01-atoms/content/title/title.twig' with {
							parent_class        : component_class,
							title               : item.pretitle,
							extra_class         : "o-i360-repeatable-rows__item-pretitle",
							h                   : 6,
							add_class_on_anim   : false
						} only %}

						{% include '01-atoms/content/title/title.twig' with {
							parent_class        : component_class,
							title               : item.title,
							extra_class         : "o-i360-repeatable-rows__item-title",
							h                   : 4,
							add_class_on_anim   : false
						} only %}

						{% include '01-atoms/content/content/content.twig' with {
							parent_class        : component_class,
							content             : item.content,
							extra_class         : "o-i360-repeatable-rows__item-content",
							add_class_on_anim   : false
						} only %}
					</div>
				</div>
			{% endfor %}
		</div>

	{% endblock %}

{% endspaceless %}
