{% spaceless %}
	{#
	* Renders the card image post component
	*
	* @param  {string}  component_class      The CSS class of this component
	* @param  {string}  version              Optional version. Uses a BEM modifier
	* @param  {string}  parent_class     	 CSS class of the parent component
	* @param  {boolean} add_class_on_anim    Adds a CSS class when user scrolls to this component. Used for animations
	* @param  {object}  item                 content object. Has at least a title and content
	* @param  {object}  img                  Image object. Includes things like image URL, image alt etc
	* @param  {boolean} interval 			 optional helper for animating items one by one
	* @param  {boolean} date     			 Add optional date
	* @param  {number}  index  				 current number of the loop this card is in
	* @param  {string}  extra_class          optional extra CSS class
	#}

	{% set component_class 		= 'm-card-staff' %}
	{% set version         		= version ? component_class ~ "--" ~ version | join("") : component_class ~ "--default" %}
	{% set add_class_on_anim 	= add_class_on_anim ? "wow" | join("") %}
	{% set interval        		= interval     ? "_" ~ index | join("") %}

	<div class="{{ component_class }} {{ parent_class }}__card {{ parent_class }}__card--{{ index }} m-card {{ add_class_on_anim }} {{ version }} {{ interval }} {{ extra_class }}">
		{% if img %}
			<a
				class="{{ component_class }}__img-link"
				href="{{ item.link }}"
			>
				{% include '01-atoms/images/image-default/image-default.twig' with {
					parent_class        : component_class,
					img                 : img,
					lazyload            : true,
					srcset              : true,
					wrapper             : true
				} only %}
			</a>
		{% endif %}

		<div class="{{ component_class }}__info">
			{% if item.post_date and date %}
				<div class="a-pretitle {{ component_class }}__pretitle">
					{{ item.post_date | date( 'M j, Y' ) }}
				</div>
			{% endif %}
			{% if term %}
				<div class="a-pretitle {{ component_class }}__pretitle">
					{{ term }}
				</div>
			{% endif %}

			{% if item.title %}
				<a
					class="{{ component_class }}__title-link"
					href="{{ item.link }}"
				>
					{% include '01-atoms/content/title/title.twig' with {
						parent_class        : component_class,
						title               : item.title,
						h                   : "4",
						add_class_on_anim   : false
					} only %}
				</a>
			{% endif %}


			{% if item.excerpt %}
				{% set content = item.excerpt %}
			{% elseif item.content %}
				{% set content = item.content | excerpt( 20 ) %}
			{% endif %}

			{% include '01-atoms/content/content/content.twig' with {
				parent_class        : component_class,
				content             : content,
				add_class_on_anim   : false
			} only %}
		</div>
	</div>
{% endspaceless %}
