{% spaceless %}
	{#
	* Renders the button component
	*
	* @param  {string}  component_class      The CSS class of this component
	* @param  {string}  default_block_class  CSS class shared by all repeatable blocks
	* @param  {string}  version              Optional version. Uses a BEM modifier
	* @param  {string}  parent_class     	 CSS class of the parent component
	* @param  {boolean} add_class_on_anim    Adds a CSS class when user scrolls to this component. Used for animations
	* @param  {object}  button               Contains the button label, button link and button external link
	* @param  {string}  extra_class          optional extra CSS class
	* @param  {string}  extra_class_wrapper  optional extra CSS class assigned to the wrapper
	#}

	{% set component_class     = "a-btn" %}
	{% set button_link     	   = button.link %}
	{% set add_class_on_anim   = add_class_on_anim ? "wow" | join("") %}

	<div class="{{ default_block_class ? default_block_class ~ "__button-wrapper" }} {{ parent_class }}__button-wrapper {{ extra_class_wrapper }} {{ add_class_on_anim }}">

		{# Checking if the button should have an icon class #}
		{% if button.style == "a-link a-link--underline" or "a-link a-link--basic" %}
			{# no button icon class! #}
		{% else %}
			{% set button_icon_class     = "a-btn--with-icon" %}
		{% endif %}
		<a
			class="{{ parent_class }}__btn {{ button_icon_class }} {{ extra_class }} {{ button.style }}"
			href="{{ button_link.url }}"
			target="{{ button_link.target ? button_link.target : '_self' }}"
		>
			{{ button_link.title | striptags }}

			{# Checking if the button should have an arrow icon #}
			{% if button.style == "a-link a-link--underline" or "a-link a-link--basic" %}
				{# no button icon class! #}
			{% else %}
				<span class="{{ parent_class }}__btn-icon {{ component_class }}__btn-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 17">
					<g>
						<g>
							<path fill="#074757" d="M19.918 9.325l-7.031 7.031a1.172 1.172 0 0 1-1.658-1.657l5.031-5.03H1.902a1.172 1.172 0 1 1 0-2.345H16.26l-5.03-5.03A1.172 1.172 0 0 1 12.887.636l7.031 7.032c.458.458.458 1.2 0 1.657z"/>
						</g>
					</g>
				</svg>
				</span>
			{% endif %}
		</a>
	</div>
{% endspaceless %}
