{% spaceless %}
	{#
	* Renders the card image post alternative component
	*
	* @param  {string}  component_class      The CSS class of this component
	* @param  {string}  version              Optional version. Uses a BEM modifier
	* @param  {string}  parent_class     	 CSS class of the parent component
	* @param  {boolean} add_class_on_anim    Adds a CSS class when user scrolls to this component. Used for animations
	* @param  {object}  item                 content object. Has at least a title and content
	* @param  {object}  img                  Image object. Includes things like image URL, image alt etc
	* @param  {boolean} interval 			 optional helper for animating items one by one
	* @param  {number}  index  				 current number of the loop this card is in
	* @param  {string}  extra_class          optional extra CSS class
	#}

	{% set component_class 		      = 'm-card-simple-alt' %}
	{% set version         		      = version 		   ? component_class ~ "--" ~ version | join("") : component_class ~ "--default" %}
	{% set interval        	      	  = interval     	   ? "_" ~ index | join("") %}
	{% set add_class_on_anim 	      = add_class_on_anim  ? "wow" | join("") %}
	{% set brand_color_accent_class   = brand_color_accent ? component_class ~ "--brand-color-accent-" ~ brand_color_accent | join("") : "" %}

	<div class="{{ component_class }} {{ parent_class }}__card {{ parent_class }}__card--{{ index }} m-card {{ add_class_on_anim }} {{ version }} {{ interval }} {{ extra_class }} {{ brand_color_accent_class }}">
		{% if item.add_video %}
			<div class="{{ component_class }}__img-wrapper">
				{% include '02-molecules/modal/modal.twig' with {
					component_class : component_class,
					version         : 'video',
					number          : 1,
					item			: {
						video   : item.video,
					}
				} only %}
			</div>
		{% elseif item.image %}
			{% set img = TimberImage(item.image) %}
			{% include '01-atoms/images/image-default/image-default.twig' with {
				parent_class : component_class,
				img          : img,
				lazyload     : true,
				srcset       : true,
				wrapper      : true
			} only %}
		{% endif %}

		{% include '01-atoms/content/title/title.twig' with {
			parent_class        : component_class,
			title               : item.title,
			h                   : 3,
			add_class_on_anim   : false
		} only %}

		{% include '01-atoms/content/content/content.twig' with {
			parent_class        : component_class,
			content             : item.content | excerpt( 20 ),
			add_class_on_anim   : false
		} only %}

		{% if item.add_link %}
			{% include '01-atoms/link/link.twig' with {
				parent_class    	: component_class,
				link                : item.link,
				version				: "underline",
				add_class_on_anim 	: false
			} only %}
		{% endif %}
	</div>
{% endspaceless %}
