{#{% spaceless %}#}
{#    {% set component_class = "o-default-content-box" %}#}
{#    {% set version         = version      ? component_class ~ "--" ~ version                              | join("") %}#}
{#    {% set parent          = parent_class ? parent_class    ~ "__" ~ component_class|replace({"c-" : ""}) | join("") %}#}

{#    <div class="{{ parent }} {{ component_class }} {{ version }}">#}
{#		<div class="{{component_class}}__container l-container">#}
{#			{% if post.thumbnail %}#}
{#				{% set featured_image = post.thumbnail %}#}

{#				<div class="{{ component_class }}__featured-img-wrapper">#}
{#					{% include 'objects-default/images/image-default/image-default.twig' with {#}
{#						parent_class      : component_class,#}
{#						img               : featured_image,#}
{#						version           : "single-default",#}
{#						lazyload          : true,#}
{#						srcset            : true,#}
{#						wrapper           : true,#}
{#						parallax          : true,#}
{#						add_class_on_anim : true#}
{#					} only %}#}
{#				</div>#}
{#			{% endif %}#}

{#			{% include '01-atoms/content/content/content.twig' with {#}
{#				content      : post.content,#}
{#				parent_class : component_class#}
{#			} only %}#}
{#        </div>#}
{#    </div>#}
{#{% endspaceless %}#}
