{% spaceless %}
	{#######################################################}
	{# --------------------------------------------------- #}
	{# Extending one of the Base Block Layout Types        #}
	{# 													   #}
	{# The block wrapper, title, content, button		   #}
	{# and container are declared inside the 		       #}
	{# base block layout          						   #}
	{# --------------------------------------------------- #}
	{#######################################################}
	{% extends '03-organisms/base/base-block/base-block.twig' %}

	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-default-testimonials" %}
	{% set container       = true %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# overwriting {% block %}'s defined in the chosen Base Block Layout Type above  #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}

	{% block main_payload %}

		<div class="{{ component_class }}__stories" data-module="defaultTestimonials">
			<div class="{{ component_class }}__stories-slider-container swiper-container">
				<div class="{{ component_class }}__stories-wrapper swiper-wrapper">
					{% set testimonials = section.relationship %}

					{% for testimonial in testimonials %}
						{% set statement_author   = testimonial.terms( 'statement-author' ) | first %}
						{% set statement_company  = testimonial.terms( 'statement-organization' ) | first %}
						{% set statement_position = testimonial.terms( 'statement-position' ) | first %}

						<div class="{{ component_class }}__stories-slide-item swiper-slide">
							<div class="{{ component_class }}__stories-slide-item-content">
								{{ testimonial.content }}
							</div>

							<h6 class="{{ component_class }}__stories-slide-item-author h6--bold">
								— {{ statement_author }}, {{ statement_position }}, {{ statement_company }}
							</h6>
						</div>
					{% endfor %}
				</div>

				<div class="{{ component_class }}__stories-slider-pagination swiper-pagination"></div>
			</div>

			{% include '01-atoms/buttons/button-pagination/button-pagination.twig' with {
				parent_class        : component_class,
				version             : "prev",
				extra_class         : "o-default-testimonials__stories-slider-btn-prev"
			} only %}

			{% include '01-atoms/buttons/button-pagination/button-pagination.twig' with {
				parent_class        : component_class,
				version             : "next",
				extra_class         : "o-default-testimonials__stories-slider-btn-next"
			} only %}
		</div>

	{% endblock %}

{% endspaceless %}
