<div class="{{ component_class }}__top-content-wrapper" style="background-color: {{ top_bar_group.bg_color ? top_bar_group.bg_color : 'transparent' }}">
	<div class="l-container l-container--large {{ component_class }}__container {{ component_class }}__container--top">
		<ul class="{{ component_class }}__top-content-list">
			<li class="{{ component_class }}__top-content-list-item">
				<a class="{{ component_class }}__top-content-list-item-link" href="#">
					Members
				</a>
			</li>

			<li class="{{ component_class }}__top-content-list-item">
				<a class="{{ component_class }}__top-content-list-item-link" href="#">
					Brokers
				</a>
			</li>

			<li class="{{ component_class }}__top-content-list-item">
				<a class="{{ component_class }}__top-content-list-item-link" href="#">
					Clients
				</a>
			</li>

			<li class="{{ component_class }}__top-content-list-item">
				<a class="{{ component_class }}__top-content-list-item-link" href="#">
					FAQs
				</a>
			</li>

			<li class="{{ component_class }}__top-content-list-item">
				<a class="{{ component_class }}__top-content-list-item-link" href="#">
					Contact
				</a>
			</li>
		</ul>
	</div>
</div>
