{% spaceless %}
	{#
	* Renders the card grid component
	*
	* @param  {string}  component_class      The CSS class of this component
	* @param  {string}  version              Optional version. Uses a BEM modifier
	* @param  {string}  parent_class     	 CSS class of the parent component
	* @param  {boolean} add_class_on_anim    Adds a CSS class when user scrolls to this component. Used for animations
	* @param  {object}  item                 content object. Has at least a title and content
	* @param  {boolean} interval 			 optional helper for animating items one by one
	* @param  {number}  index  				 current number of the loop this card is in
	* @param  {string}  extra_class          optional extra CSS class
	#}

	{% set component_class 		= 'm-card-grid' %}
	{% set version         		= version 			? component_class ~ "--" ~ version | join("") : component_class ~ "--default" %}
	{% set interval        		= interval     		? "_" ~ index | join("") %}
	{% set add_class_on_anim 	= add_class_on_anim ? "wow" | join("") %}

	<div class="{{ component_class }} {{ parent_class }}__card {{ parent_class }}__card--{{ index }} m-card {{ add_class_on_anim }} {{ version }} {{ interval }} {{ extra_class }}">
		{% include '01-atoms/content/title/title.twig' with {
			parent_class        : component_class,
			title               : item.title,
			h                   : '4',
			add_class_on_anim   : false
		} only %}

		{% include '01-atoms/content/content/content.twig' with {
			parent_class        : component_class,
			content             : item.content,
			add_class_on_anim   : false
		} only %}
	</div>
{% endspaceless %}
