{% spaceless %}
	{#######################################################}
	{# --------------------------------------------------- #}
	{# Extending one of the Base Block Layout Types        #}
	{# 													   #}
	{# The block wrapper, title, content, button		   #}
	{# and container are declared inside the 		       #}
	{# base block layout          						   #}
	{# --------------------------------------------------- #}
	{#######################################################}


	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-i360-horizontal-menu" %}
	{% set container       = true %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# overwriting {% block %}'s defined in the chosen Base Block Layout Type above  #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}
	<div class="{{ component_class }}">
		<div class='{{component_class}}__column {{component_class}}__column--1'>
			{% include '01-atoms/content/title/title.twig' with {
				parent_class        : component_class,
				title               : section.title,
				h                   : 3,
				add_class_on_anim   : false
			} only %}
		</div>
		<div class='{{component_class}}__column {{component_class}}__column--2'>

		</div>
	</div>

{% endspaceless %}
