{% spaceless %}
	{#
	* Renders the card image link alternative component
	*
	* @param  {string}  component_class      The CSS class of this component
	* @param  {string}  version              Optional version. Uses a BEM modifier
	* @param  {string}  parent_class     	 CSS class of the parent component
	* @param  {boolean} add_class_on_anim    Adds a CSS class when user scrolls to this component. Used for animations
	* @param  {object}  item                 content object. Has at least a title and content
	* @param  {object}  img                  Image object. Includes things like image URL, image alt etc
	* @param  {boolean} interval 			 optional helper for animating items one by one
	* @param  {number}  index  				 current number of the loop this card is in
	* @param  {string}  extra_class          optional extra CSS class
	#}

	{% set component_class 		= "m-card-image-link-alt" %}
	{% set version         		= version 			? component_class ~ "--" ~ version | join("") : component_class ~ "--default" %}
	{% set interval        		= interval     		? "_" ~ index | join("") %}
	{% set add_class_on_anim 	= add_class_on_anim ? "wow" | join("") %}

	<div class="{{ component_class }} {{ parent_class }}__card {{ parent_class }}__card--{{ index }} m-card {{ add_class_on_anim }} {{ version }} {{ interval }} {{ extra_class }}">
		<div class="{{ component_class }}__wrapper-outer {{ component_class }}__wrapper-outer--{{ extra_class }}">
			{% if img %}
				{% include '01-atoms/images/image-default/image-default.twig' with {
					parent_class : component_class,
					img          : img,
					lazyload     : true,
					srcset       : true,
					wrapper      : true
				} only %}
			{% endif %}
			<div class="{{ component_class }}__overlay"></div>
		</div>

		{% if item.add_link %}
			<a
				class="{{ component_class }}__item-link"
				href="{{ item.link }}"
			></a>
		{% endif %}

		<!-- Wrapper inner is only used for the background gradient moving up on hovering the card -->
		<div class="{{ component_class }}__gradient-effect {{ component_class }}__gradient-effect--{{ extra_class }}"></div>

		<div class="{{ component_class }}__content-wrapper">

			{% include '01-atoms/content/title/title.twig' with {
				parent_class : component_class,
				title        : item.title,
				h            : "4",
			} only %}

			<div class="{{component_class}}__hover-box">
				<h4 class="{{component_class}}__hover-box-title">{{ item.title }}</h4>
				<div class="{{component_class}}__hover-box-subtitle">{{ item.content }}</div>
			</div>


{#			{% include 'objects/buttons/button-wrapper/button-wrapper.twig' with {button : button,  parent_class: component_class} %}#}
		</div>
	</div>

{% endspaceless %}
