{% spaceless %}
	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-i360-quote" %}
	{% set container       = true %}

	{########################################################}
	{# Block specific settings                              #}
	{########################################################}
	{% set version         = version ? component_class ~ "--" ~ version | join("") : component_class ~ "--default" %}
	{% set item            = section.relationship ? TimberPost( section.relationship | first ) %}
	{% set text_color      = item.text_color      ? component_class ~ "--color-" ~ item.text_color | join("") %}
	{% set alignment       = item.alignment       ? component_class ~ "--align-" ~ item.alignment  : component_class ~ "--align-default" %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}

	<div
		class="{{ component_class }} {{ text_color }} {{ alignment }} {{ version }}"
		{{ item.background_type == "color" ? 'style="background-color: ' ~ item.background_color ~ ';"' }}
	>
		{% if item.background_type == "image" %}
			{# Accessing WordPress image object and making them available to Twig templates #}
			{% set bg_img = TimberImage( item.background_image ) %}
			{% set bg_img_mob = TimberImage( item.background_image_mobile ) %}

			{% if bg_img_mob != '' %}
				{% include '01-atoms/images/image-manual-responsive/image-manual-responsive.twig' with {
					parent_class        : component_class,
					img                 : bg_img,
					img_mob             : bg_img_mob,
					lazyload            : true,
					srcset              : true,
					wrapper             : true
				} only %}

			{% else %}
				{% include '01-atoms/images/image-default/image-default.twig' with {
					parent_class        : component_class,
					img                 : bg_img,
					lazyload            : true,
					srcset              : true,
					wrapper             : true
				} only %}
			{% endif %}
		{% endif %}

		{% if item.add_overlay %}
			<div class="h-overlay" style="background-color: {{ item.get_field('overlay_color') }};"></div>
		{% endif %}

		{% if item.add_gradient %}
			{% if item.alignment ==  "left" %}
				{% set gradient_style = 'background: linear-gradient(-90deg, ' ~ item.gradient_color ~ '00 35%, ' ~ item.gradient_color ~ '80 50%, ' ~ item.gradient_color ~ 'f8 75%)' %}
			{% elseif item.alignment ==  "default" %}
				{% set gradient_style = 'background: linear-gradient(90deg, ' ~ item.gradient_color ~ '00 35%, ' ~ item.gradient_color ~ '80 50%, ' ~ item.gradient_color ~ 'f8 75%)' %}
			{% else %}
				{% set gradient_style = 'background: linear-gradient(180deg, ' ~ item.gradient_color ~ '00 35%, ' ~ item.gradient_color ~ '80 50%, ' ~ item.gradient_color ~ 'f8 75%)' %}
			{% endif %}
			<div class="h-overlay" style="{{ gradient_style }}"></div>
		{% endif %}

		<div class="{{ component_class }}__container l-container">
			<div class="{{ component_class }}__content-group">
				{% if item.pretitle %}
					{% include '01-atoms/content/pretitle/pretitle.twig' with {
						pretitle     : item.pretitle,
						parent_class : component_class,
						h            : 6,
						add_class_on_anim   : true
					} only %}
				{% endif %}

				{% if item.block_title %}
					{% include '01-atoms/content/title/title.twig' with {
						parent_class        : component_class,
						title               : item.block_title,
						version             : item.title_width,
						h                   : item.title_type,
						style               : item.title_style,
						spacing_bottom      : item.title_padding_bottom,
						add_class_on_anim   : true
					} only %}
				{% endif %}

				{% if item.quote_content %}
					{% include '01-atoms/content/content/content.twig' with {
						content      		: item.quote_content,
						parent_class 		: component_class,
						add_class_on_anim   : true
					} only %}
				{% endif %}

				{% if item.add_button %}
					{% set button =  item.get_field('button') %}

					{% include '01-atoms/buttons/button/button.twig' with {
						parent_class 		: component_class,
						button       		: button,
						add_class_on_anim   : true
					} only %}
				{% endif %}

			</div>
		</div>
	</div>
{% endspaceless %}
