{% spaceless %}
	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-i360-quote" %}
	{% set container       = true %}

	{########################################################}
	{# Block specific settings                              #}
	{########################################################}
	{% set version         = version ? component_class ~ "--" ~ version | join("") : component_class ~ "--default" %}
	{% set item            = section.relationship ? TimberPost( section.relationship | first ) %}
	{% set text_color      = item.get_field('text_color')      ? component_class ~ "--color-" ~ item.get_field('text_color') | join("") %}
	{% set alignment       = item.get_field('alignment')       ? component_class ~ "--align-" ~ item.get_field('alignment')  : component_class ~ "--align-default" %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}

	<div
		class="{{ component_class }} {{ text_color }} {{ alignment }} {{ version }}"
		{{ item.get_field('background_type') == "color" ? 'style="background-color: ' ~ item.get_field('background_color') ~ ';"' }}
	>
		{% if item.get_field('background_type') == "image" %}
			{# Accessing WordPress image object and making them available to Twig templates #}
			{% set bg_img = TimberImage( item.get_field('background_image') ) %}
			{% set bg_img_mob = TimberImage( item.get_field('background_image_mobile') ) %}

			{% if bg_img_mob != '' %}
				{% include '01-atoms/images/image-manual-responsive/image-manual-responsive.twig' with {
					parent_class        : component_class,
					img                 : bg_img,
					img_mob             : bg_img_mob,
					lazyload            : true,
					srcset              : true,
					wrapper             : true
				} only %}

			{% else %}
				{% include '01-atoms/images/image-default/image-default.twig' with {
					parent_class        : component_class,
					img                 : bg_img,
					lazyload            : true,
					srcset              : true,
					wrapper             : true
				} only %}
			{% endif %}
		{% endif %}

		{% if item.get_field('add_overlay') %}
			<div class="h-overlay" style="background-color: {{ item.get_field('overlay_color') }};"></div>
		{% endif %}

		{% if item.get_field('add_gradient') %}
			{% if item.get_field('alignment') ==  "left" %}
				{% set gradient_style = 'background: linear-gradient(-90deg, ' ~ item.get_field('gradient_color') ~ '00 35%, ' ~ item.get_field('gradient_color') ~ '80 50%, ' ~ item.get_field('gradient_color') ~ 'f8 75%)' %}
			{% elseif item.get_field('alignment') ==  "default" %}
				{% set gradient_style = 'background: linear-gradient(90deg, ' ~ item.get_field('gradient_color') ~ '00 35%, ' ~ item.get_field('gradient_color') ~ '80 50%, ' ~ item.get_field('gradient_color') ~ 'f8 75%)' %}
			{% else %}
				{% set gradient_style = 'background: linear-gradient(180deg, ' ~ item.get_field('gradient_color') ~ '00 35%, ' ~ item.get_field('gradient_color') ~ '80 50%, ' ~ item.get_field('gradient_color') ~ 'f8 75%)' %}
			{% endif %}
			<div class="h-overlay" style="{{ gradient_style }}"></div>
		{% endif %}

		<div class="{{ component_class }}__container l-container">
			<div class="{{ component_class }}__content-group">
				{% if item.get_field('pretitle') %}
					{% include '01-atoms/content/pretitle/pretitle.twig' with {
						pretitle     : item.get_field('pretitle'),
						parent_class : component_class,
						h            : 6,
						add_class_on_anim   : true
					} only %}
				{% endif %}

				{% if item.get_field('block_title') %}
					{% include '01-atoms/content/title/title.twig' with {
						parent_class        : component_class,
						title               : item.get_field('block_title'),
						version             : item.get_field('title_width'),
						h                   : item.get_field('title_type'),
						style               : item.get_field('title_style'),
						spacing_bottom      : item.get_field('title_padding_bottom'),
						add_class_on_anim   : true
					} only %}
				{% endif %}

				{% if item.get_field('quote_content') %}
					{% include '01-atoms/content/content/content.twig' with {
						content      		: item.get_field('quote_content'),
						parent_class 		: component_class,
						add_class_on_anim   : true
					} only %}
				{% endif %}

				{% if item.get_field('add_button') %}
					{% set button =  item.get_field('button') %}

					{% include '01-atoms/buttons/button/button.twig' with {
						parent_class 		: component_class,
						button       		: button,
						add_class_on_anim   : true
					} only %}
				{% endif %}

			</div>
		</div>
	</div>
{% endspaceless %}
