{% spaceless %}
	{#
	* Renders the sample component
	*
	* @param  {string}  component_class      The CSS class of this component
	* @param  {string}  version              Optional version. Uses a BEM modifier
	* @param  {string}  parent_class     	 CSS class of the parent component
	* @param  {boolean} add_class_on_anim    Adds a CSS class when user scrolls to this component. Used for animations
	* @param  {string}  extra_class          optional extra CSS class
	* @param  {string}  color_accent         border brand color accent
	#}

	{% set component_class 		= "m-list-alt" %}
	{% set version         		= version 			 ? component_class ~ "--" ~ version | join(" ") : component_class ~ "--default" %}
	{% set parent           	= parent_class 		 ? parent_class    ~ "__" ~ component_class|replace({"m-" : ""}) | join(" ") %}
	{% set color_accent_class   = color_accent ? component_class ~ "--brand-color-accent-" ~ color_accent | join("") : "" %}
	{% set add_class_on_anim 	= add_class_on_anim  ? "wow" | join(" ") %}

	<ul class="{{ component_class }} {{ parent }} {{ version }} {{ add_class_on_anim }}  {{ extra_class }} {{ color_accent_class }}">
		{% for item in list_items %}
			<li class="{{ component_class }}__item wow _{{ loop.index }}">
				<div class="{{ component_class }}__item-inner {{ component_class }}__item-inner--{{ loop.index }}">
					{% include '01-atoms/content/title/title.twig' with {
						parent_class        : component_class,
						title               : item.title,
						h                   : 4,
						add_class_on_anim   : false
					} only %}

					{% include '01-atoms/content/content/content.twig' with {
						parent_class        : component_class,
						content             : item.content,
						add_class_on_anim   : false
					} only %}
				</div>
			</li>
		{% endfor %}
	</ul>

{% endspaceless %}
