{% spaceless %}
	{% set component_class = "o-i360-header" %}

	{% set top_bar_group   = options.header_top_bar_group %}
	{% set cta_group       = options.header_call_to_action_group %}

	<header class="{{ component_class }} js-header {{ color }}" id="header" data-module="header">
		{% if top_bar_group.show %}
			{% include '03-organisms/custom/i360-header/i360-header-top-bar/i360-header-top-bar.twig' %}
		{% endif %}

		{#	Wrapper used to ensure the search bar visually is hidden while sliding out (masking effect) #}
		<div class="{{ component_class }}__inner">
			<div class="{{ component_class }}__container l-container l-container--large">
				<div class="{{component_class}}__logo-wrapper">
					{% include '01-atoms/logo/logo-header/logo-header.twig' %}
				</div>

				<div class="{{ component_class }}__nav-wrapper">
					{% set parent_class = component_class %}

					{% import '02-molecules/nav/nav-macro/nav-macro.twig' as nav %}
					{{ nav.menu(menu_primary.get_items, 'm-nav', 'm-nav--primary', parent_class, false) }}
				</div>

				<div class="{{ component_class }}__search-button js-header-search-toggle">
					<svg class="{{component_class}}__search-button-icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
						<g>
							<g>
								<g>
									<path fill="#074757" d="M4.054 11.052a6.998 6.998 0 1 1 6.998 6.998C7.19 18 4.058 14.915 4.054 11.052zm18.32 9.673L18.42 16.77c3.026-3.896 2.5-9.472-1.198-12.771-3.7-3.227-9.297-3.052-12.785.436C.949 7.923.773 13.52 4 17.22c3.298 3.699 8.874 4.224 12.77 1.2l3.955 3.953c.275.299.725.417 1.13.31.405-.108.721-.424.829-.829.107-.405-.011-.855-.31-1.13z"/>
								</g>
							</g>
						</g>
					</svg>
				</div>

				{% if cta_group.show %}
					<a href="{{cta_group.link.url}}"
					   class="{{ component_class }}__btn-connect"
					   target="{{ cta_group.link.target ? cta_group.link.target : '_self' }}">
						<span class="{{ component_class }}__btn-connect-txt">
							{{cta_group.link.title}}
						</span>

						<span class="{{ component_class }}__btn-connect-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><g><g><g/><g><path fill="#fff" d="M13.153 8l-4.219 4.214a.703.703 0 0 1-.994-.995L11 8.201H2.343c-.343 0-.703-.315-.703-.703 0-.389.36-.703.703-.703H11L7.94 3.776a.703.703 0 0 1 .994-.994L13.153 7a.71.71 0 0 1 0 1z"/></g></g></g></svg>
						</span>
					</a>
				{% endif %}
				<div class="{{ component_class }}__hamburger-wrapper">
					{% include '02-molecules/nav/hamburger/hamburger.twig' with {
						parent_class: "header"
					} only %}
				</div>
			</div>
		</div>

		{% include '02-molecules/search/search-bar/search-bar.twig' with {
			parent_class : component_class
		} %}
	</header>
{% endspaceless %}
